.DS_Store
DSDPClion
DSDP/DSDP6/matlab/test/sdplib
DSDP/DSDP6/matlab/test/mat
DSDP/DSDP6/matlab/src/firstord
DSDP/DSDP6/build/CMakeFiles
DSDP/DSDP6/build
DSDP/DSDP6/doc/hdsdp_latex/.texpadtmp
DSDP/DSDP6/src/linsys/build
DSDP/DSDP6/doc/hdsdp_arxiv/expanded
DSDP/DSDP6/doc/hdsdp_arxiv
MVBDro
cmake
exp
sharp_opt
fastspeigs/build
potred/matlab/data
DSDP/DSDP6/logs
DSDP/DSDP6/test
DSDP/DSDP6/matlab/benchmark
potred/src/potlp/potlp/mex/build
*.txt
fastspeigs
potred/doc/discussion
potred/doc
potred/matlab/test
*.mat
potred/src/potlp/potlp.xcodeproj
potred/src/potlp/potlp.xcodeproj
potred/eigs
potred/src/potlp/potlp.xcodeproj
hdsdp/hdsdp.xcodeproj
mvb
potred
DSDP
olp
